Source: networking-mlnx
Section: net
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
           Lenny Verkhovsky <lennyb@mellanox.com>,
Build-Depends: debhelper (>= 9),
               dh-python,
               dh-systemd,
               openstack-pkg-tools (>= 34~),
               po-debconf,
               python-all,
               python-pbr (>= 0.11),
               python-sphinx,
Build-Depends-Indep: python-babel,
                     python-cliff (>= 1.15.0),
                     python-coverage,
                     python-ddt (>= 1.0.1),
                     python-fixtures (>= 1.3.1),
                     python-hacking,
                     python-lxml,
                     python-mock (>= 1.3),
                     python-neutron (>= 2:8.0.0~b2),
                     python-oslosphinx (>= 2.5.0),
                     python-oslotest (>= 1.5.1),
                     python-os-testr (>= 0.4.1),
                     python-pymysql,
                     python-requests-mock (>= 0.7.0),
                     python-tempest-lib (>= 0.13.0),
                     python-testresources,
                     python-testscenarios,
                     python-testtools (>= 1.4.0),
                     python-webtest (>= 2.0),
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18),
Standards-Version: 3.9.8
Homepage: http://neutron.openstack.org/
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-networking-mlnx?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-networking-mlnx -b debian/newton

Package: python-networking-mlnx
Architecture: all
Section: python
Depends: python-babel,
         python-lxml,
         python-neutron (>= 1:8.0.0~b2),
         ${misc:Depends},
         ${python:Depends},
Description: OpenStack virtual network service - Mellanox plugin Python 2.7 files
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Python 2.7 files for the Mellanox plugin.

Package: networking-mlnx-common
Architecture: all
Depends: neutron-common  (>= 1:8.0.0~b2),
         python-networking-mlnx (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: OpenStack virtual network service - Mellanox plugin common files
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Mellanox plugin common files.

Package: neutron-mlnx-agent
Architecture: all
Section: python
Depends: networking-mlnx-common (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Recommends: iputils-arping,
Description: OpenStack virtual network service - Mellanox plugin agent
 Neutron provides an API to dynamically request and configure virtual networks.
 These networks connect "interfaces" from other OpenStack services (such as
 vNICs from Nova VMs). The Neutron API supports extensions to provide advanced
 network capabilities, including QoS, ACLs, and network monitoring.
 .
 This package provides the Mellanox plugin agent.

Package: networking-mlnx-eswitchd
Architecture: all
Provides: neutron-plugin,
Depends: networking-mlnx-common (= ${binary:Version}),
         ${misc:Depends},
         ${python:Depends},
Description: Neutron is a virtual network service for Openstack - Mellanox eswitchd
 Neutron is a virtual network service for Openstack, and a part of
 Netstack. Just like OpenStack Nova provides an API to dynamically
 request and configure virtual servers, Neutron provides an API to
 dynamically request and configure virtual networks. These networks
 connect "interfaces" from other OpenStack services (e.g., virtual NICs
 from Nova VMs). The Neutron API supports extensions to provide
 advanced network capabilities (e.g., QoS, ACLs, network monitoring,
 etc.)
 .
 This package provides the Mellanox eswitchd.
